<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.lm.dao.LmCouponMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.lm.entity.LmCoupon" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="title" column="title"/>
     <result property="type" column="type"/>
     <result property="description" column="description"/>
     <result property="total" column="total"/>
     <result property="surplus" column="surplus"/>
     <result property="limits" column="limits"/>
     <result property="discount" column="discount"/>
     <result property="min" column="min"/>
     <result property="status" column="status"/>
     <result property="categoryId" column="category_id"/>
     <result property="days" column="days"/>
     <result property="start" column="start"/>
     <result property="end" column="end"/>
     <result property="createdBy" column="created_by"/>
     <result property="createdTime" column="created_time"/>
     <result property="updatedBy" column="updated_by"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,title,type,description,total,surplus,limits,discount,min,status,category_id,days,start,end,created_by,created_time,updated_by,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from lm_coupon t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="title != null">
    and t.title = #{title}
</if>
<if test="type != null">
    and t.type = #{type}
</if>
<if test="description != null">
    and t.description = #{description}
</if>
<if test="total != null">
    and t.total = #{total}
</if>
<if test="surplus != null">
    and t.surplus = #{surplus}
</if>
<if test="limits != null">
    and t.limits = #{limits}
</if>
<if test="discount != null">
    and t.discount = #{discount}
</if>
<if test="min != null">
    and t.min = #{min}
</if>
<if test="status != null">
    and t.status = #{status}
</if>
<if test="category_id != null">
    and t.category_id = #{category_id}
</if>
<if test="days != null">
    and t.days = #{days}
</if>
<if test="start != null">
    and t.start = #{start}
</if>
<if test="end != null">
    and t.end = #{end}
</if>
<if test="created_by != null">
    and t.created_by = #{created_by}
</if>
<if test="created_time != null">
    and t.created_time = #{created_time}
</if>
<if test="updated_by != null">
    and t.updated_by = #{updated_by}
</if>
</where>
</select>

    <update id="decCoupon">
        update lm_coupon set surplus = surplus - 1 where id = #{couponId}
    </update>

    <select id="getUserCouponsCount" resultType="com.icloud.modules.lm.model.KVModel">
        SELECT
        coupon_id AS `key`,
        count( coupon_id ) AS `value`
        FROM
        lm_user_coupon
        WHERE
        coupon_id IN
        <foreach open="(" close=")" collection="couponIds" separator="," item="cid">
            #{cid}
        </foreach>
        AND user_id = #{userId}
        GROUP BY
        coupon_id;
    </select>


    <select id="getAdminCouponList" resultType="com.icloud.modules.lm.dto.CouponAdminDTO">
        SELECT
        c.id AS id,
        c.title AS title,
        c.`type` AS `type`,
        c.description AS description,
        c.total AS total,
        c.surplus AS surplus,
        c.`limits` AS `limits`,
        c.discount AS discount,
        c.min AS min,
        c.status AS status,
        g.title as categoryTitle,
        c.category_id as categoryId,
        c.days AS days,
        c.gmt_start as gmtStart,
        c.gmt_end as gmtEnd
        FROM
        lm_coupon c
        LEFT JOIN lm_category g on c.category_id = g.id
        WHERE
        1 = 1
        <if test="title != null">
            AND c.title like concat("%",#{title},"%")
        </if>
        <if test="type != null">
            AND c.type = #{type}
        </if>
        <if test="status != null">
            <if test="status >= 0">
                AND c.status = #{status} AND (unix_timestamp(c.end) &gt; unix_timestamp(#{now}) or c.days is not null)
            </if>
            <if test="status &lt; 0">
                AND unix_timestamp(c.end) &lt; unix_timestamp(#{now})
            </if>
        </if>
        order BY c.id DESC
        limit #{offset},#{limit}
    </select>

    <select id="getActiveCoupons" resultType="com.icloud.modules.lm.dto.CouponDTO">
        SELECT
        c.id,
        c.title,
        c.type,
        c.description,
        c.total,
        c.surplus,
        c.`limits`,
        c.discount,
        c.`min`,
        c.`status`,
        c.category_id AS categoryId,
        c.days,
        c.start AS start,
        c.end AS end,
        c.updated_time AS updatedTime,
        c.created_time AS createdTime,
        y.title AS categoryTitle
        FROM
        lm_coupon AS c
        LEFT JOIN lm_category AS y ON y.id = c.category_id
        WHERE
        c.`status` = 1
        AND (c.end IS NULL OR ( unix_timestamp(c.start) &lt; unix_timestamp(now( )) AND unix_timestamp(c.end) &gt; unix_timestamp(now( )) ))
    </select>

</mapper>