<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.lm.dao.LmFooprintMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.lm.entity.LmFooprint" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="userId" column="user_id"/>
     <result property="spuId" column="spu_id"/>
     <result property="createdTime" column="created_time"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,user_id,spu_id,created_time,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from lm_foot_print t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="user_id != null">
    and t.user_id = #{user_id}
</if>
<if test="spu_id != null">
    and t.spu_id = #{spu_id}
</if>
<if test="created_time != null">
    and t.created_time = #{created_time}
</if>
</where>
</select>

    <select id="getAllFootprint" resultType="com.icloud.modules.lm.dto.FootprintDTO">
        SELECT
        fp.id AS id,
        fp.user_id AS userId,
        fp.spu_id AS spuId,
        sp.price AS spuPrice,
        sp.title AS spuTitle,
        sp.img AS spuImg,
        fp.created_time AS createdTime,
        fp.updated_time AS updatedTime
        FROM
        lm_footprint AS fp,
        lm_spu AS sp
        WHERE
        fp.spu_id = sp.id
        AND fp.user_id = #{userId}
        ORDER BY fp.updated_time DESC
        LIMIT
        #{offset},#{size}
    </select>
</mapper>