<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.lm.dao.LmFreightemplateMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.lm.entity.LmFreightemplate" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="templateName" column="template_name"/>
     <result property="spuLocation" column="spu_location"/>
     <result property="deliveryDeadline" column="delivery_deadline"/>
     <result property="defaultFreePrice" column="default_free_price"/>
     <result property="defaultFirstNum" column="default_first_num"/>
     <result property="defaultFirstMoney" column="default_first_money"/>
     <result property="defaultContinueNum" column="default_continue_num"/>
     <result property="defaultContinueMoney" column="default_continue_money"/>
     <result property="createdBy" column="created_by"/>
     <result property="createdTime" column="created_time"/>
     <result property="updatedBy" column="updated_by"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,template_name,spu_location,delivery_deadline,default_free_price,default_first_num,default_first_money,default_continue_num,default_continue_money,created_by,created_time,updated_by,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from lm_freight_template t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="template_name != null">
    and t.template_name = #{template_name}
</if>
<if test="spu_location != null">
    and t.spu_location = #{spu_location}
</if>
<if test="delivery_deadline != null">
    and t.delivery_deadline = #{delivery_deadline}
</if>
<if test="default_free_price != null">
    and t.default_free_price = #{default_free_price}
</if>
<if test="default_first_num != null">
    and t.default_first_num = #{default_first_num}
</if>
<if test="default_first_money != null">
    and t.default_first_money = #{default_first_money}
</if>
<if test="default_continue_num != null">
    and t.default_continue_num = #{default_continue_num}
</if>
<if test="default_continue_money != null">
    and t.default_continue_money = #{default_continue_money}
</if>
<if test="created_by != null">
    and t.created_by = #{created_by}
</if>
<if test="created_time != null">
    and t.created_time = #{created_time}
</if>
<if test="updated_by != null">
    and t.updated_by = #{updated_by}
</if>
</where>
</select>

    <select id="selectFreightBySkuId" resultType="com.icloud.modules.lm.entity.LmFreightemplate">
        SELECT
        fr.id as id,
        fr.template_name as templateName,
        fr.spu_location as spuLocation,
        fr.default_free_price as defaultFreePrice,
        fr.delivery_deadline as deliveryDeadline,
        fr.default_first_num as defaultFirstNum,
        fr.default_first_money as defaultFirstMoney,
        fr.default_continue_num as defaultContinueNum,
        fr.default_continue_money as defaultContinueMoney,
        fr.created_time as createdTime,
        fr.updated_time as updatedTime
        FROM
        lm_freight_template fr,
        lm_sku sk,
        lm_spu sp
        WHERE
        sp.freight_template_id = fr.id
        and sk.spu_id = sp.id
        and sk.id = #{skuId}
    </select>
</mapper>