<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.lm.dao.LmSkuMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.lm.entity.LmSku" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="spuId" column="spu_id"/>
     <result property="barCode" column="bar_code"/>
     <result property="title" column="title"/>
     <result property="img" column="img"/>
     <result property="originalPrice" column="original_price"/>
     <result property="price" column="price"/>
     <result property="vipPrice" column="vip_price"/>
     <result property="stock" column="stock"/>
     <result property="freezeStock" column="freeze_stock"/>
     <result property="createdBy" column="created_by"/>
     <result property="createdTime" column="created_time"/>
     <result property="updatedBy" column="updated_by"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,spu_id,bar_code,title,img,original_price,price,vip_price,stock,freeze_stock,created_by,created_time,updated_by,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from lm_sku t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="spu_id != null">
    and t.spu_id = #{spu_id}
</if>
<if test="bar_code != null">
    and t.bar_code = #{bar_code}
</if>
<if test="title != null">
    and t.title = #{title}
</if>
<if test="img != null">
    and t.img = #{img}
</if>
<if test="original_price != null">
    and t.original_price = #{original_price}
</if>
<if test="price != null">
    and t.price = #{price}
</if>
<if test="vip_price != null">
    and t.vip_price = #{vip_price}
</if>
<if test="stock != null">
    and t.stock = #{stock}
</if>
<if test="freeze_stock != null">
    and t.freeze_stock = #{freeze_stock}
</if>
<if test="created_by != null">
    and t.created_by = #{created_by}
</if>
<if test="created_time != null">
    and t.created_time = #{created_time}
</if>
<if test="updated_by != null">
    and t.updated_by = #{updated_by}
</if>
</where>
</select>

    <update id="decSkuStock">
        UPDATE lm_sku SET stock = stock - #{stock}, freeze_stock = freeze_stock + #{stock} WHERE id = #{skuId}
    </update>

    <update id="returnSkuStock">
        UPDATE lm_sku SET stock = stock + #{stock}, freeze_stock = freeze_stock - #{stock} WHERE id = #{skuId}
    </update>

    <update id="decSkuFreezeStock">
        UPDATE lm_sku SET freeze_stock = freeze_stock - #{stock} WHERE id = #{skuId}
    </update>

    <select id="getSkuDTOById" resultType="com.icloud.modules.lm.dto.goods.SkuDTO">
        SELECT
        k.id,
        k.spu_id AS spuId,
        k.bar_code AS barCode,
        p.category_id AS categoryId,
        k.title,
        p.title AS spuTitle,
        k.img,
        p.img AS spuImg,
        k.original_price AS originalPrice,
        k.price,
        k.vip_price AS vipPrice,
        k.stock,
        p.unit,
        p.status,
        k.freeze_stock AS freezeStock,
        k.updated_time AS updatedTime,
        k.created_time AS createdTime
        FROM
        lm_sku AS k,
        lm_spu AS p
        WHERE
        k.id = #{skuId}
        AND k.spu_id = p.id
    </select>

    <select id="getSkuIds" resultType="java.lang.Long">
        SELECT id FROM lm_sku WHERE spu_id = #{spuId}
    </select>

    <select id="selectSkuIdsBySpuIds" resultType="java.lang.Long">
        SELECT id FROM lm_sku WHERE spu_id in
        <foreach collection="ids" separator="," open="(" close=")" item="spuId">
            #{spuId}
        </foreach>
    </select>
</mapper>