<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.lm.dao.LmSpuMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.lm.entity.LmSpu" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="originalPrice" column="original_price"/>
     <result property="price" column="price"/>
     <result property="vipPrice" column="vip_price"/>
     <result property="title" column="title"/>
     <result property="sales" column="sales"/>
     <result property="img" column="img"/>
     <result property="detail" column="detail"/>
     <result property="description" column="description"/>
     <result property="categoryId" column="category_id"/>
     <result property="freightTemplateId" column="freight_template_id"/>
     <result property="unit" column="unit"/>
     <result property="status" column="status"/>
     <result property="createdTime" column="created_time"/>
     <result property="createdBy" column="created_by"/>
     <result property="updatedBy" column="updated_by"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,original_price,price,vip_price,title,sales,img,detail,description,category_id,freight_template_id,unit,status,created_time,created_by,updated_by,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from lm_spu t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="original_price != null">
    and t.original_price = #{original_price}
</if>
<if test="price != null">
    and t.price = #{price}
</if>
<if test="vip_price != null">
    and t.vip_price = #{vip_price}
</if>
<if test="title != null">
    and t.title = #{title}
</if>
<if test="sales != null">
    and t.sales = #{sales}
</if>
<if test="img != null">
    and t.img = #{img}
</if>
<if test="detail != null">
    and t.detail = #{detail}
</if>
<if test="description != null">
    and t.description = #{description}
</if>
<if test="category_id != null">
    and t.category_id = #{category_id}
</if>
<if test="freight_template_id != null">
    and t.freight_template_id = #{freight_template_id}
</if>
<if test="unit != null">
    and t.unit = #{unit}
</if>
<if test="status != null">
    and t.status = #{status}
</if>
<if test="created_time != null">
    and t.created_time = #{created_time}
</if>
<if test="created_by != null">
    and t.created_by = #{created_by}
</if>
<if test="updated_by != null">
    and t.updated_by = #{updated_by}
</if>
</where>
</select>

    <select id="getAllPage"  resultMap="BaseResultMap">
        select * from lm_spu t
        <where>
            <if test="title != null">
                and t.title like concat(concat('%',#{title}),'%')
            </if>
            <if test="freight_template_id != null">
                and t.freight_template_id = #{freight_template_id}
            </if>
            <if test="status != null and status!='' ">
                and t.status = #{status}
            </if>
            <if test="categoryIds != null" >
                and t.category_id in
                <foreach item="item" index="index" collection="categoryIds" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>

    <select id="getAllPageByMap"  resultMap="BaseResultMap">
        select * from lm_spu t
        <where>
            <if test="title != null">
                and t.title like concat(concat('%',#{title}),'%')
            </if>
            <if test="freight_template_id != null">
                and t.freight_template_id = #{freight_template_id}
            </if>
            <if test="status != null and status!='' ">
                and t.status = #{status}
            </if>
            <if test="categoryIds != null" >
                and t.category_id in
                <foreach item="item" index="index" collection="categoryIds" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        <if test="orderByAsc != null and orderByAsc!='' ">
            ORDER BY ${orderByAsc} asc
        </if>
        <if test="orderByDesc != null and orderByDesc!='' ">
            ORDER BY ${orderByDesc} desc
        </if>
        limit #{offset},#{pageSize}
    </select>

</mapper>