<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.lm.dao.LmSupplierMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.lm.entity.LmSupplier" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="title" column="title"/>
     <result property="linkContacts" column="link_contacts"/>
     <result property="phone" column="phone"/>
     <result property="province" column="province"/>
     <result property="city" column="city"/>
     <result property="county" column="county"/>
     <result property="address" column="address"/>
     <result property="status" column="status"/>
     <result property="createdBy" column="created_by"/>
     <result property="createdTime" column="created_time"/>
     <result property="updatedBy" column="updated_by"/>
     <result property="updatedTime" column="updated_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,title,link_contacts,phone,province,city,county,address,status,created_by,created_time,updated_by,updated_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from lm_supplier t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="title != null">
    and t.title = #{title}
</if>
<if test="link_contacts != null">
    and t.link_contacts = #{link_contacts}
</if>
<if test="phone != null">
    and t.phone = #{phone}
</if>
<if test="province != null">
    and t.province = #{province}
</if>
<if test="city != null">
    and t.city = #{city}
</if>
<if test="county != null">
    and t.county = #{county}
</if>
<if test="address != null">
    and t.address = #{address}
</if>
<if test="status != null">
    and t.status = #{status}
</if>
<if test="created_by != null">
    and t.created_by = #{created_by}
</if>
<if test="created_time != null">
    and t.created_time = #{created_time}
</if>
<if test="updated_by != null">
    and t.updated_by = #{updated_by}
</if>
</where>
</select>
</mapper>